{% load i18n static jazzmin admin_urls bootstrap4 %}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}
{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cập nhật tài khoản</title>
    <style>
        body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            background-color: #FAFAFA;
            font: 12pt "Tahoma";
        }
    </style>
</head>
<body>
<div class="container">
    <div id="content">
        <p>Plusplus Academy xin chào bạn {{ data.to_name }},</p>
        <p>Chúng tôi muốn thông báo với bạn rằng, thông tin cá nhân của bạn đã được cập nhật trên hệ thống quản lý của Plusplus Academy.</p>
        <p>Mọi thắc mắc xin liên hệ Hotline:</p>
        <p>Hotline : 03.27.28.25.26</p>
        <p>Email: plusplus.academy@gmail.com</p>>
        <p>Cảm ơn bạn đã đồng hành cùng Plusplus Academy!</p>
    </div>
</div>
</body>
</html>